.container {
  margin: 0 auto;
  max-width: $breakpoint-md;

  padding-left: $gutter;
  padding-right: $gutter;

  @media screen and (min-width: $breakpoint-xs) {
    padding: 0;
  }
}

.row {
  display: table;
  width: 100%;

  padding: 0 $gutter;
}
