// Utilities and Useful Classes
// -------------------------

.color-grey{
  color: $color-grey;
}

.font-strong {
  font-weight: bold;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}
